[submodule "annlib"]
	path = annlib
	url = https://github.com/dials/annlib.git
[submodule "annlib_adaptbx"]
	path = annlib_adaptbx
	url = https://github.com/dials/annlib_adaptbx.git
[submodule "cbflib"]
	path = cbflib
	url = https://github.com/yayahjb/cbflib.git
[submodule "ccp4io"]
	path = ccp4io
	url = https://github.com/dials/ccp4io.git
[submodule "ccp4io_adaptbx"]
	path = ccp4io_adaptbx
	url = https://github.com/dials/ccp4io_adaptbx.git
[submodule "cctbx_project"]
	path = cctbx_project
	url = https://github.com/cctbx/cctbx_project.git
[submodule "dials"]
	path = dials
	url = https://github.com/dials/dials.git
[submodule "gui_resources"]
	path = gui_resources
	url = https://github.com/dials/gui_resources.git
[submodule "tntbx"]
	path = tntbx
	url = https://github.com/dials/tntbx.git
[submodule "xia2"]
	path = xia2
	url = https://github.com/xia2/xia2.git
[submodule "dxtbx"]
	path = dxtbx
	url = https://github.com/dials/dxtbx.git
